.App {
  background-color: rgb(97, 98, 98);
  color: white;
  /* calculating the padding minus the page height below */
  height: calc(100vh - 150px);
  padding-top: 150px;
  text-align: center;
}

.heart {
  align-items: center;
  background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
  cursor: pointer;
  display: flex;
  height: 130px;
  justify-content: center;
  width: 130px;
}

.is_animating {
  animation: heart-burst .8s steps(28) 1;
}

@keyframes heart-burst {
  from { background-position:left; }
  to { background-position:right; }
}